body {
    text-align: center;
    font-family: sans-serif;
}

img {
    height: 200px;
}

.message {
    font-size: 2em;
}

.donnees {
    margin-top: 20px;
}

.maj {
    font-size: 0.8em;
    margin-top: 10px;
}