<!DOCTYPE html>
<html lang="fr">
   <head>
      <title>Comment va ma plante verte?</title>
      <link rel="stylesheet" href='../static/style.css'/>
      <link rel="icon" type="image/png" href="../static/assets/{{ image }}">
      <meta http-equiv="refresh" content="30">
   </head>
   <body style="background-color: {{ couleur }};">
      <img src="../static/assets/{{ image }}" />
      <div class="message">{{ message }}</div>
      <div class="donnees">Humidité actuelle: {{ humidite_actuelle }}</div>
      <canvas id="graphique" width="800px" height="300px"></canvas>
      <script type="module">
          import { Chart, registerables } from 'https://cdn.jsdelivr.net/npm/chart.js@4.4.8/+esm';
          Chart.register(...registerables);
          var contexte = document.getElementById("graphique").getContext("2d");
          var graphique = new Chart(contexte,
          {
              type: "line",
              data: {
                  labels: {{ temps_valeurs | safe }},
                  datasets: [
                      {
                          label: "Humidité",
                          data: {{ humidite_valeurs | safe }},
                          fill: false,
                          lineTension: 0.1
                      }
                  ]
              },
              options: {
                  responsive: true,
                  scales: {
                    y: {
                        reverse: true,
                        }
                    }
              }
          });
      </script>
      <div class="maj">Dernière mise à jour des données: {{ derniere_maj }} ==> <a href="/"class="button">Rafraîchir</a></div>
   </body>
</html>
