<!DOCTYPE html>
   <head>
      <title>Comment va ma plante verte?</title>
      <link rel="stylesheet" href='../static/style.css'/>
      <link rel="icon" type="image/png" href="../static/assets/{{ image }}">
      <meta http-equiv="refresh" content="30">
   </head>
   <body>
      <img src="../static/assets/{{ image }}" />
      <div class="message">{{ message }}</div>
      <div class="donnees">Humidité: {{ humidite_actuelle }}</div>
      <div class="maj">Dernière mise à jour des données: {{ derniere_maj }} ==> <a href="/"class="button">Rafraîchir</a></div>
   </body>
</html>
